<header>
    <div class="logo">Logo</div>
    <div class="seachBar-location">
        <input type="text" class="search-input" name="search-input" placeholder="Search" id="search-input">
        <!-- <i class="fa-regular fa-magnifying-glass"></i> -->
        <!-- <i class="fa-sharp fa-solid fa-magnifying-glass icon"></i> -->
        <!-- <i class="fa-thin fa-magnifying-glass"></i> -->
        <div class="location">
            <p class="location-title">Location</p>
            <p class="actual-location"> Kote-sangi Kabul,Afghanistan</p>
        </div>
    </div>
    <div class="profile">
        <img src="../../../../../assets/userImage/khalid.jpeg" alt="">
        <p>Mohammad Jan Naser</p>
    </div>
</header>