<div class="main-container">
    <div class="s-left">
        <h2 class="s-title">Sign In</h2>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="s-form-group">
            <div class="s-form-validation">

                <label class="label-text" for="email">Email</label>
                <span class="error-validation"></span>
            </div>

            <div class="form-input">

                <input type="text" formControlName="email" class="s-form-input" name="email" id="email">
            </div>

        </div>
        <div class="s-form-group">
            <div class="s-form-validation">
                <label class="label-text" for="password">Password</label>
                <span class="error-validation"></span>

            </div>
            <div class="form-input">

                <input type="password" formControlName="password" class="s-form-input" name="password" id="password">
            </div>
        </div>


        <div class="s-form-group s-form-control">
            <div class="s-form-term">
                <div class="remember-me">

                    <input type="checkbox" class="checkbox" name="term" id="term">
                    <label class="label-text" for="term">Remember me</label>
                </div>
                <a href="#" class="forgot-password">Forgot Password?</a>
            </div>
            <div class="btn-links">
                <input class="btn"  type="submit" value="Let's Go">
                <button type="button" class="btn" (click)="goUser()" >user</button>
                <p>Dont't have an account yet? <a routerLink="signUp">Sign Up</a></p>
            </div>

        </div>
        </form>


    </div>
    <div class="s-right">
        <img src="../../../../assets/robot.png" alt="a tech image of robot that has one leg and one hand">
    </div>
</div>
